@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oxanium', cursive;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}